<!DOCTYPE HTML>
<html>
<head>
  <title>TSP 2D/3D GIS visualization</title>
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Bootstrap slider -->
  <link href="{{ url_for('static', filename='bootstrap-slider/bootstrap-slider.min.css') }}" rel="stylesheet"></script>
  <!-- Leaflet -->
  <link href="{{ url_for('static', filename='leaflet/leaflet.css') }}" rel="stylesheet">
  <style type="text/css">
      html, body {
          height: 100%;
          margin: 0;
      }

      #map {
          min-height: 100%; 
      }

      #earth {
          min-height: 100%; 
      }
      
      #slider-css .slider-selection {
        background: #BABABA;
      }
      
    .panel-transparent {
        background: none;
    }
    
    .slider.slider-horizontal{
    width:10vw !important;
    }
    
    .well {
      background-color: rgba(245, 245, 245, 0.5);
    }
  </style>
  <!-- jQuery -->
  <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
  <!-- Bootstrap slider -->
  <script src="{{ url_for('static', filename='bootstrap-slider/bootstrap-slider.min.js') }}"></script>
  <!-- Socket IO -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  {% if view == '2D' %}
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
  {% else %}
    <script src="{{ url_for('static', filename='webgl-earth/api.js') }}"></script>
  {% endif %}
</head>
<body>

  <form id="aform" method="post">
    <div class="btn-group-vertical" style="z-index:500; position: absolute; top: 10px; left:70px;">  
      {% if view == '2D' %}
        <button type="submit" class="btn btn-primary" name="view" value="3D">3D view</button>
      {% else %}
        <button type="submit" class="btn btn-primary" name="view" value="2D">2D view</button>
      {% endif %}
      
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tile layer
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a onclick="switch_layer('osm')"> Open Street Map </a></li>
          <li><a onclick="switch_layer('gm')"> Google Maps </a></li>
          <li><a onclick="switch_layer('nasa')"> NASA </a></li>
        </ul>
      </div> 
    </div>
  </form>
  
  <div class="well well-sm" style="z-index:500; position: absolute; top: 20px; right:50vw; height:40px">
    <strong><font color="red"><p id="score">Length</p></font></strong>
  </div>
  
  <div class="panel-group" style="z-index:500; position: absolute; top: 20px; right:20px;">
  
    <div class="panel panel-primary panel-transparent">
      <div class="panel-heading">Construction heuristics</div>
      <div class="panel-body">
        <div class="btn-group-vertical btn-block" >
          <button type="button" class="btn btn-primary" onclick="tourConstruction('nearest_neighbor')">Nearest neighbor</button>
          <button type="button" class="btn btn-primary" onclick="tourConstruction('nearest_insertion')">Nearest insertion</button>
          <button type="button" class="btn btn-primary" onclick="tourConstruction('cheapest_insertion')">Cheapest insertion</button>
          <button type="button" class="btn btn-primary" onclick="tourConstruction('pairwise_exchange')">Pairwise exchange</button>
          <input id="slider1" data-slider-id='slider-css' type="text" data-slider-min="1" data-slider-max="1000" data-slider-step="10" data-slider-value="100"/>
        </div>
      </div>
    </div>

    <div class="panel panel-success panel-transparent">
      <div class="panel-heading">Genetic algorithm</div>
      <div class="panel-body">
        <div class="btn-group-vertical btn-block" >
          <button type="button" class="btn btn-success" onclick="geneticAlgorithm('genetic_algorithm')">Start</button>
          <button type="button" class="btn btn-success" onclick="geneticAlgorithm('genetic_algorithm')">Stop</button>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><input id="slider2" data-slider-id='slider-css' type="text" data-slider-min="10" data-slider-max="500" data-slider-step="10" data-slider-value="50"/></li>
          <li class="list-group-item"><input id="mutation_rate" data-slider-id='slider-css' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
      </div></li> 

        </ul>

    </div>
  
    <div class="panel panel-danger panel-transparent">
      <div class="panel-heading">Deterministic algorithm</div>
      <div class="panel-body">
        <div class="btn-group-vertical btn-block" >
          <button type="button" class="btn btn-danger" onclick="tourConstruction('lp')">Linear programming</button>
        </div>
      </div>
    </div>
  </div>

  {% if view == '2D' %}
    <div id="map">
  {% else %}
    <div id="earth" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%;">
  {% endif %}
  <script>
    namespace = '/';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
    var currentAlgorithm = undefined;

    function tourConstruction(algorithm){
        clearAll();
        if (window.optimizationTimer) {
          clearTimeout(window.optimizationTimer);
          window.optimizationTimer = 0;
          }
        socket.emit(algorithm);
      }

    function geneticAlgorithm(algorithm) {
      // we cannot use setInterval as the timer depends on the slider
      // we have to use setTimeout for the speed to vary through time
      function timeout() {
        var speed = $('#slider2').val();
        window.optimizationTimer = setTimeout(function () {
          socket.emit(algorithm);
          timeout();
          }, 50000/speed);
        };
      timeout();
      }

    var layers = {
      'osm': 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      'gm': 'http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}&s=Ga',
      'nasa': 'http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg'
      };
      
    // lines of the path displayed
    var polylines = [];
    // lines of the best path ever found (for genetic algorithm)
    var bestPolylines = [];
    
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }
    
    socket.on('current_solution', function(path, score) {
      createPath(path, false, false, false);
      });
      
    socket.on('best_solution', function(path, score) {
      $("#score").text(Math.round(Number(score)));
      createPath(path, false, false, true);
      });
  
    socket.on('build_tour', function(path, lengths) {
      createPath(path, lengths, true, false);
      });
      
    socket.on('build_tours', function(paths, lengths) {
      createIntermediatePaths(paths, lengths, false, false);
      });
 
    $('#slider1').slider({
      tooltip_position: 'bottom',
      formatter: function(value) {
        return 'Speed';
      }
    });
    
    $('#slider2').slider({
      tooltip_position: 'bottom',
      formatter: function(value) {
        return 'Speed';
      }
    });
    
    $('#mutation_rate').slider({
      tooltip_position: 'bottom',
      formatter: function(value) {
        return 'Mutation rate';
      }
    });

    {% if view == '2D' %}
    
      var map = L.map('map').setView([39, -98], 5);
      var osm_layer = L.tileLayer(layers['osm']);
      map.addLayer(osm_layer);
      var current_layer = osm_layer;
  
      var icon_city = L.icon({
        iconUrl: 'static/images/city.png',
        iconSize: [20, 20], // size of the icon
        iconAnchor: [9, 6], // point of the icon which will correspond to marker's location
        popupAnchor: [8, -5] // point from which the popup should open relative to the iconAnchor
        });
  
      {% for id, properties in cities.items() %}  
        var marker = L.marker([
          {{ properties['latitude'] }}, 
          {{ properties['longitude'] }}], 
          );
        
        marker.bindPopup("{% for property in properties %}\
        <b>{{ property }}</b>: {{ properties[property] }}<br>{% endfor %}<br>\
        <input type='hidden' name='id' id='id' value={{ id }}>\
        <input type='button' value='Connect' class='btn btn-round btn-danger' onclick='return connect_to_device()'/>");
        
        marker.bindTooltip("{{ properties['name'] }}", {
          permanent: false, 
          }
        );
        marker.setIcon(icon_city), 
        marker.addTo(map);
      {% endfor %}
      
      function switch_layer(layer){
        map.removeLayer(current_layer);
        current_layer = L.tileLayer(layers[layer]);
        map.addLayer(current_layer);
        }
      
      // Function that clears all lines
      function clearAll(){
        for (i = 0; i < polylines.length; i++) { 
          map.removeLayer(polylines[i]);
          }

        for (i = 0; i < bestPolylines.length; i++) { 
          map.removeLayer(bestPolylines[i]);
          }
        }
      
      /* Function to create a path, with optional arguments: 
      - waiting time between the creation of two edges for better visualization 
      of tour construction heuristics 
      - lengths for updating the length in real-time, if createPath is not
      called from another function like createIntermediatePath */
      
      async function createPath(path, lengths, waitingTime, best){
      
        var color = best ? '#d4222a' : '#0000ff';
        var lines = best ? bestPolylines : polylines;
        for (i = 0; i < lines.length; i++) { 
          map.removeLayer(lines[i]);
          }

        for (i = 0; i < path.length - 1; i++) { 
          console.log(lengths[i]);
          
          // update the score
          if (lengths) {
            $("#score").text(Math.round(Number(lengths[i])));
            }
    
          var source_lat = path[i][0];
              source_lon = path[i][1];
              
          var destination_lat = path[i+1][0];
              destination_lon = path[i+1][1];
              
          var pointA = new L.LatLng(source_lat, source_lon);
          var pointB = new L.LatLng(destination_lat, destination_lon);
          var pointList = [pointA, pointB];

          var polyline = new L.Polyline(pointList, {
            color: color,
            weight: 3,
            opacity: 1,
            smoothFactor: 1
            });
    
          polyline.addTo(map);
          lines.push(polyline);
          
          if (waitingTime) {
            var speed = $('#slider1').val();
            await sleep(50000/speed);
            }
          }
        }
        
      async function createIntermediatePaths(paths, lengths, best){
        for (j = 0; j < paths.length; j++) {
          console.log(Math.round(Number(lengths[j])));
          // update the score
          $("#score").text(Math.round(Number(lengths[j])));
          createPath(paths[j], false, false, best);
          var speed = $('#slider1').val();
          await sleep(50000/speed);
          }
        }

    {% else %}
  
      var options = {sky:true, atmosphere: true};
      var earth = new WE.map('earth', options);
  
      var current_layer = WE.tileLayer(layers['gm']);
      current_layer.addTo(earth);
  
      {% for id, properties in cities.items() %}  
        var marker = WE.marker(
        [
        {{ properties['latitude'] }}, 
        {{ properties['longitude'] }}
        ],
        'static/images/city.png', 
        20, 20
        ).addTo(earth);
        
        marker.bindPopup("{% for property in properties %}\
        <b>{{ property }}</b>: {{ properties[property] }}<br>{% endfor %}<br>\
        <input type='hidden' name='id' id='id' value={{ id }}>\
        <input type='button' value='Connect' class='btn btn-round btn-danger' onclick='return connect_to_device()'/>");
      {% endfor %}
      
      function switch_layer(layer){
        current_layer.removeFrom(earth);
        current_layer = WE.tileLayer(layers[layer]);
        current_layer.addTo(earth);
        }
      
      async function createPath(path, waitingTime, best){
        for (i = 0; i < polylines.length; i++) { 
          try {
            polylines[i].destroy();
            }
          catch(err) {};
          }
          
        var color = best ? '#d4222a' : '#0000ff';
        for (i = 0; i < path.length - 1; i++) { 
          var source_lat = path[i][0];
              source_lon = path[i][1];
              destination_lat = path[i+1][0];
              destination_lon = path[i+1][1];
              
          var polygonSD = WE.polygon(
            [[source_lat, source_lon], [destination_lat, destination_lon],
            [source_lat, source_lon]], {color: color,opacity: 20}).addTo(earth);
          var polygonDS = WE.polygon(
            [[destination_lat, destination_lon], [source_lat, source_lon],
            [destination_lat, destination_lon]], {color: color,opacity: 20}).addTo(earth);
          polylines.push(polygonSD, polygonDS)
          
          if (waitingTime) {
            var speed = $('#speed').val();
            await sleep(speed);
            }
          }
        }

    {% endif %}
  </script>
</body>
</html>
